<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor Degree in Business Management </h1>
            <span>Laurea University of Applied Sciences</span>
            <span><address>Glasgow, UK</address><time>2012 to 2015</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>International Baccalaureate</h1>
            <span>Zurich, Switzerland</span>
            <span><address>London, UK</address><time>2012 to 2015</time></span>
        </header>
        <p>
            <em>Dissertation: </em>
        </p>
    </article>
</section>
