<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Europan Chemical Agency(ECHA)</h1>
            <span><address>Helsinki,Finland</address><time>Sep-Dec 2015</time></span>
        </header>
        <p> </p>
    </article>
    <article>
        <header>
            <h1>A-Laatu Tarvikkeet,Automobile shop</h1>
            <span><address>Helsinki, Finland</address><time>Fall Semester 2015</time></span>
        </header>
        <p>the main objective of this project was to give student better understanding of how
business/company operate.
- After the research analysis, we were able to recommend the company what to stock in
large quantity and what not to stock to create a better space management.   </p>
    </article>
    <article>
        <header>
            <h1>Director's Assistant</h1>
            <span><address>Kathmandu,Nepal</address><time>2011-2012  </time></span>
        </header>
        <p> I volunteered at a school as Director’s assistant. My responsibilities included,
• Answering incoming calls and emails
• Helping to coordinate after school events such as basketball tournament.
• Supervising the activities of the Eco-Club. It is an environment club. This club helps to
keep the school area clean and green as well runs a yearly environmental campaign.    </p>
    
